/* Global CSS */

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/roobert/Roobert-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/roobert/Roobert-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/roobert/Roobert-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/roobert/Roobert-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/roobert/Roobert-Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/roobert/Roobert-Heavy.otf');
  font-weight: 800;
  font-style: normal;
}

html {
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

body {
  background-color: #fefefe;
  overflow-x: hidden; /* Firefox */
  margin: 0px;
  padding: 0px;
  width: 100vw; /* Firefox */
  color: #222222;
}

a {
  text-decoration: none;
}

p {
  font-weight: 400;
  line-height: 1.5rem;
}

ol {
  margin: 0px;
  font-weight: 400;
  line-height: 1.5rem;
}

li {
  margin: 0px;
  font-weight: 400;
  line-height: 1.5rem;
}

ul {
  margin: 0px;
  font-weight: 400;
  line-height: 1.5rem;
}

/* // Hide all scrollbars on app */
/* ::-webkit-scrollbar {
  display: none;
} */

/* Hide ugly ass Safari input text-shadow */
input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Hide ugly ass chrome autofill yellow background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none;
}

 /* Hide all scrollbars */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display: none;
}


.flex-container-col {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-item {
  flex-grow: 1;
  flex-basis: 30%;
  flex-basis: 200px;
}

.app {
  font-family: "Helvetica Neue", arial, sans-serif;
}


/* //// MUI ////// */

/* remove youtube ratings*/
.ytrp_wrapper {
  position: static;
  opacity: 0;
  display: none;
}

/* remove shading on top of expansion panels */
.MuiAccordion-root:before {
  background-color: rgba(0, 0, 0, 0);
}

/* Override Dropdown menus placeholder text color
 Make it lighter grey */
.css-1hwfws3 .css-151xaom-placeholder {
  color: hsl(0, 0, 75%);
  font-weight: 300;
}
/* // React Dropzone Uploader style overrides */
.dzu-dropzone .dottedContainer {
  border: 3px dashed #ddd;
}
.dzu-dropzone {
  overflow: hidden !important;
}
.dzu-upload-input {
  opacity: 0.8;
  transition: opacity 200ms;
}
.dzu-upload-input:hover {
  opacity: 1;
  transition: opacity 200ms;
}
/* // Paypal button */
#goofBox:hover + #goofProofButton {
  background-color: rgba(226, 16, 63, 0.08),
}

/* //////// Animations */

.hidden {
  opacity: 0;
}

.displayNone {
  display: none;
}

.fadeInFastest {
  -webkit-animation: fadeIn 0.1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: fadeIn 0.1s cubic-bezier(0.7, 0, 0.3, 1) both;
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
}

.fadeInFast {
  -webkit-animation: fadeIn 0.2s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: fadeIn 0.2s cubic-bezier(0.7, 0, 0.3, 1) both;
  -webkit-animation-delay: 0.02s;
  animation-delay: 0.02s;
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: fadeIn 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fadeOutFast {
  -webkit-animation: fadeOut 0.2s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: fadeOut 0.2s cubic-bezier(0.7, 0, 0.3, 1) both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.fadeOut {
  -webkit-animation: fadeOut 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: fadeOut 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}


.grow {
  -webkit-animation: grow 0.2s cubic-bezier(0.2, 0, 0.3, 1) both;
  animation: grow 0.2s cubic-bezier(0.2, 0, 0.3, 1) both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.pulse {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.slideFromLeft {
  -webkit-animation: slideFromLeft 0.4s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: slideFromLeft 0.4s cubic-bezier(0.7, 0, 0.3, 1) both;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

.slideFromTop {
  -webkit-animation: slideFromTop 0.4s ease-in-out;
  animation: slideFromTop 0.4s ease-in-out;
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
}

.barloaderLong {
  -webkit-animation: barloaderLong 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: barloaderLong 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
.barloaderShort {
  -webkit-animation: barloaderShort 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: barloaderShort 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.staggerFadeIn > div:nth-child(1) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .1s;
}
.staggerFadeIn > div:nth-child(2) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .2s;
}
.staggerFadeIn > div:nth-child(3) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .3s;
}
.staggerFadeIn > div:nth-child(4) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .4s;
}
.staggerFadeIn > div:nth-child(5) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .45s;
}
.staggerFadeIn > div:nth-child(6) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .5s;
}
.staggerFadeIn > div:nth-child(7) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .55s;
}
.staggerFadeIn > div:nth-child(8) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .6s;
}
.staggerFadeIn > div:nth-child(9) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .65s;
}
.staggerFadeIn > div:nth-child(10) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .7s;
}
.staggerFadeIn > div:nth-child(11) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .75s;
}
.staggerFadeIn > div:nth-child(12) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .8s;
}
.staggerFadeIn > div:nth-child(13) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .8s;
}
.staggerFadeIn > div:nth-child(14) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .8s;
}
.staggerFadeIn > div:nth-child(15) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .8s;
}
.staggerFadeIn > div:nth-child(16) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .8s;
}
.staggerFadeIn > div:nth-child(17) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .8s;
}
.staggerFadeIn > div:nth-child(18) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .8s;
}
.staggerFadeIn > div:nth-child(18) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .8s;
}
.staggerFadeIn > div:nth-child(19) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .8s;
}
.staggerFadeIn > div:nth-child(20) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .8s;
}
.staggerFadeIn > div:nth-child(21) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .9s;
}
.staggerFadeIn > div:nth-child(22) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .9s;
}
.staggerFadeIn > div:nth-child(23) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .9s;
}
.staggerFadeIn > div:nth-child(24) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .9s;
}
.staggerFadeIn > div:nth-child(25) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .9s;
}
.staggerFadeIn > div:nth-child(26) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .9s;
}
.staggerFadeIn > div:nth-child(27) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .9s;
}
.staggerFadeIn > div:nth-child(28) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .9s;
}
.staggerFadeIn > div:nth-child(29) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .9s;
}
.staggerFadeIn > div:nth-child(30) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: .9s;
}
.staggerFadeIn > div:nth-child(31) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: 1s;
}
.staggerFadeIn > div:nth-child(32) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: 1s;
}
.staggerFadeIn > div:nth-child(33) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: 1s;
}
.staggerFadeIn > div:nth-child(34) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: 1s;
}
.staggerFadeIn > div:nth-child(35) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: 1s;
}
.staggerFadeIn > div:nth-child(36) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: 1s;
}
.staggerFadeIn > div:nth-child(37) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: 1s;
}
.staggerFadeIn > div:nth-child(38) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: 1s;
}
.staggerFadeIn > div:nth-child(39) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: 1s;
}
.staggerFadeIn > div:nth-child(40) {
  animation: fadeIn 1s cubic-bezier(0.6, 0.2, 0.4, 1.1) both;
  animation-delay: 1s;
}


@keyframes fadeIn {
  from {
    opacity: 0
  };
  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  };
  to {
    opacity: 0
  }
}

@keyframes grow {
  from {
    transform: scale(0.66)
  };
  to {
    transform: scale(1)
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0%, 0);
    transform: translate3d(-100%, 0%, 0);
  }
}

@keyframes slideFromTop {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0%, -12%, 0);
    transform: translate3d(0%, -12%, 0);
  }
}

@keyframes barloaderLong {
  0% {
    left: -35%;
    right: 100%
  }
  60% {
    left: 100%;
    right: -90%
  }
  100% {
    left: 100%;
    right: -90%
  }
}

@keyframes barloaderShort {
  0% {
    left: -200%;
    right: 100%
  }
  60% {
    left: 107%;
    right: -8%
  }
  100% {
    left: 107%;
    right: -8%
  }
}

.shimmer {
  background-color: #f3f3f3;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  animation: shimmer 20s linear 0s infinite normal forwards;
}
.shimmer-dark {
  background-color: #f3f3f3;
  background-image: linear-gradient(to right, #222429  0%, #2D2F36 20%, #222429  40%, #222429 100%);
  /* background-image: linear-gradient(to right, #2D2F36 0%, #222429 20%, #2D2F36 40%, #2D2F36 100%); */
  animation: shimmer 20s linear 0s infinite normal forwards;
}
.shimmer-dark2 {
  background-color: #f3f3f3;
  /* background-image: linear-gradient(to right, #222429  0%, #2D2F36 20%, #222429  40%, #222429 100%); */
  background-image: linear-gradient(to right, #2D2F36 0%, #222429 20%, #2D2F36 40%, #2D2F36 100%);
  animation: shimmer 20s linear 0s infinite normal forwards;
}

@keyframes shimmer {
  0% {
    background-position: -300vw 0;
  }
  100% {
    background-position: 300vw 0;
  }
}

.background-neon {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: background-gradient 15s ease infinite;
}
.background-uniswap-dark {
    background: linear-gradient(-45deg, #222429, #222429, #2E3443, #3A3F4A);
    background-size: 400% 400%;
    animation: background-gradient 15s ease infinite;
}
.background-slate-grey {
    background: linear-gradient(-45deg, #f4f4f4, #EDF0F2, #D0D5DF, #B0B5BF);
    background-size: 400% 400%;
    animation: background-gradient 15s ease infinite;
}


@keyframes background-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse {
  0% {
    opacity: 1
  };
  20% {
    opacity: 0.33
  }
  50% {
    opacity: 0.80
  }
  80% {
    opacity: 0.33
  }
  100% {
    opacity: 1
  }
}


#gradient-border-1 {
  --angle: 0deg;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-image: conic-gradient(from var(--angle), rgb(85, 146, 232), rgb(206, 69, 197), rgb(85, 146, 232)) 1;
  animation: 6s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}



progress[value]::-webkit-progress-bar {
  background-color: #aaaaee;
  color: #eaeaea;
}

progress[value] {
  background-color: #aaaaee;
  color: #eaeaea;
  border: none;
}
